In [63]:
import os
from tqdm import tqdm
import pandas as pd
import numpy as np
directory = "C:/Users/syversk/Desktop/Detected_Peaks"
files = os.listdir(directory)
df_list = []
df2_list = []
df3_list = []
for i in tqdm(range(len(files))):
    year_dir = directory +"/"+ files[i]
    files_year_dir = os.listdir(year_dir)
    for j in range(len(files_year_dir)):
        month_dir = year_dir + "/" + files_year_dir[j]
        files_month_dir = os.listdir(month_dir)
        for k in range(len((files_month_dir))):
            df = pd.read_csv(month_dir + "/" + files_month_dir[k])
            df = df[df.lat <= 38]
            df = df[df.lat >= -38]
            df["lon"] = df["lon"].apply(lambda lon: round(lon))
            df["lat"] = df["lat"].apply(lambda lat: round(lat))
            df['lon'] = np.where(df['lon'] < 0, df['lon'] + 360, df['lon'])

            df_list.append(df.groupby(['lat', 'lon']).size().reset_index(name='num_peaks'))
            
            df2 = df[df.wind_speed <= 5]
            df2 = df2[df2.wind_speed >= 3]
            df2_list.append(df2.groupby(['lat', 'lon']).size().reset_index(name='num_peaks'))
            
            df3 = df[df.wind_speed <= 11]
            df3 = df3[df3.wind_speed >= 3]
            df3_list.append(df3.groupby(['lat', 'lon']).size().reset_index(name='num_peaks'))
            
df = pd.concat(df_list)
df2 = pd.concat(df2_list)
df3 = pd.concat(df3_list)

df_grped = df.groupby(['lat', 'lon'], as_index=False)["num_peaks"].sum()
df2_grped = df2.groupby(['lat', 'lon'], as_index=False)["num_peaks"].sum()
df3_grped = df3.groupby(['lat', 'lon'], as_index=False)["num_peaks"].sum()

df_grped.to_csv( "C:/Users/syversk/Desktop/peaks_fixed/peaks_all_winds.csv",index=False)
df2_grped.to_csv( "C:/Users/syversk/Desktop/peaks_fixed/peaks_3_5_winds.csv",index=False)
df3_grped.to_csv( "C:/Users/syversk/Desktop/peaks_fixed/peaks_3_11_winds.csv",index=False)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:42<00:00,  8.53s/it]

       lat  lon  num_peaks
0      -43   21          1
1      -43  155          1
2      -43  183          1
3      -43  203          1
4      -43  208          1
...    ...  ...        ...
22123   42  310          2
22124   42  317          1
22125   42  335          1
22126   42  349          1
22127   43  297          1

[22128 rows x 3 columns]